@model VVTDE.Domain.Video

<!doctype html>
<html prefix="og: http://ogp.me/ns#
              video: http://ogp.me/ns/video#">
<head>
    <title>VkVideoShow</title>
    <meta property="og:url" content="@Model.Url">
    <meta property="og:site_name" content="VK">
    <meta property="og:title" content="@Model.Title">
    <meta property="og:description" content="@Model.Description">
    
    <meta property="og:image" content="@Model.ImageUrl">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    
    <meta property="og:video:url" content="@Model.Url">
    <meta property="og:video:secure_url" content="@Model.Url">
    <meta property="og:video:width" content="400">
    <meta property="og:video:height" content="300">
    <meta property="og:video:type" content="text/html">
    <meta property="og:type" content="video.other">
</head>
<body>
    <iframe src="@Model.Url" width="1280" height="720" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>
</body>
</html>